[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
tox = "*"
pdbpp = "*"
ptipython = "*"
pytest-cov = "*"

[packages]
appdirs = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
