[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
tox = "*"
pdbpp = "*"
ptipython = "*"
pytest-cov = "*"
pytest-profiling = "*"
snakeviz = "*"
pytest-sugar = "*"

[packages]
bcompiler-engine = {editable = true,path = "."}

[requires]
python_version = "3.8"
