[build-system]
requires = ["setuptools", "wheel"]

[tool.poetry]
name = "bcompier-engine"
version = "0.1.0"
description = "A new, faster, more efficient, more modular back end for datamap tools and  interfaces."
homepage = "https://github.com/hammerheadlemon/bcompiler-engine"
repository = "https://github.com/hammerheadlemon/bcompiler-engine"
license = "MIT"
readme = "README.md"
authors = ["Matt Lemon"]

[tool.poetry.dependencies]
python = "^3.6.0"
openpyxl = "^2.6.2"

[tool.poetry.dev-dependencies]
pytest = "^5.0"
pytest-cov = "^2.7.1"
coverage = "^4.5.3"
tox = "^3.13.2"
pdbpp = "^0.10.0"
ptipython = "^1.0.1"
flake8 = "^3.7.7"
flake8-comprehensions = "^2.1.0"
black = "^19.3.b0"
mypy = "^0.711"
