name: Tests
on: push
env:
  GITHUB_ACTIONS_RUNNER: runner
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: pip install nox==2019.11.9
      - run: pip install poetry==1.1.4
      - run: nox
